{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin: 188px 0px">
      
      <p>
        <h2>About the Project</h2>
        Moogle is simple recommendation engine that suggest movies on the basis
        of genre or similar kind of movies that user has already watched. The
        simple UI of the web application enables user to select genre of their
        choice or input the movie in a text box to get movie suggestions. The
        app will recommend 5-6 movies which user may like to watch. User can
        also check out that month’s new releases and popular movies rated by
        other users. With help of machine learning algorithms we can correlate
        the similarity between user input and the database.
      </p>
      <h2>Team Members</h2>
      <span>1. Himanshu Bishnoi</span><br>
      <span>2. Mayur Kotian</span><br>
      <span>3. Sameer Bhute</span><br>
      <span>4. Pranay Singh</span><br>
    </div>
  </div>
</div>

{% endblock %}
